USE [master]
GO
/****** Object:  Database [htqlnv]    Script Date: 2/25/2026 9:01:03 AM ******/
CREATE DATABASE [htqlnv]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'htqlnv', FILENAME = N'/var/opt/mssql/data/htqlnv.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'htqlnv_log', FILENAME = N'/var/opt/mssql/data/htqlnv_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [htqlnv].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [htqlnv]
GO
/****** Object:  Table [dbo].[positions]    Script Date: 2/25/2026 9:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[positions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[level] [nvarchar](20) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 2/25/2026 9:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[manager_id] [int] NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 2/25/2026 9:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_code] [nvarchar](20) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[date_of_birth] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[id_card] [nvarchar](20) NULL,
	[department_id] [int] NULL,
	[position_id] [int] NULL,
	[join_date] [date] NULL,
	[resign_date] [date] NULL,
	[status] [nvarchar](20) NULL,
	[phone] [nvarchar](15) NULL,
	[email] [nvarchar](100) NULL,
	[address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contracts]    Script Date: 2/25/2026 9:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contracts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[contract_type] [nvarchar](20) NOT NULL,
	[contract_number] [nvarchar](50) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[salary] [decimal](18, 2) NULL,
	[allowance] [decimal](18, 2) NULL,
	[salary_coefficient] [decimal](5, 2) NULL,
	[position] [nvarchar](100) NULL,
	[work_location] [nvarchar](255) NULL,
	[status] [nvarchar](20) NULL,
	[termination_date] [date] NULL,
	[termination_reason] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
	[file_url] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ExpiringContracts]    Script Date: 2/25/2026 9:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ExpiringContracts] AS
SELECT
    c.id                AS contract_id,      -- DAO dùng contract_id
    c.employee_id,
    c.contract_number,
    c.contract_type,
    c.start_date,
    c.end_date,
    c.salary,
    c.allowance,
    c.salary_coefficient,
    c.position,
    c.work_location,
    c.status,
    c.termination_date,
    c.termination_reason,
    c.notes,
    c.file_url,
    e.employee_code,
    e.full_name,
    e.phone,
    e.email,
    d.name              AS department_name,
    p.name              AS position_name,
    DATEDIFF(DAY, GETDATE(), c.end_date) AS days_remaining
FROM Contracts c
INNER JOIN employees   e ON c.employee_id   = e.id
LEFT  JOIN departments d ON e.department_id = d.id
LEFT  JOIN positions   p ON e.position_id   = p.id
WHERE
    c.status   = 'ACTIVE'
    AND c.end_date IS NOT NULL
    AND c.end_date BETWEEN GETDATE() AND DATEADD(DAY, 90, GETDATE());
GO
/****** Object:  View [dbo].[vw_EmployeeDetails]    Script Date: 2/25/2026 9:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_EmployeeDetails] AS
SELECT
    e.id,
    e.employee_code,
    e.full_name,
    e.date_of_birth,
    e.gender,
    e.id_card,
    e.join_date,
    e.resign_date,
    e.status,
    e.phone,
    e.email,
    e.address,
    d.id   AS department_id,
    d.name AS department_name,
    d.code AS department_code,
    p.id   AS position_id,
    p.name AS position_name,
    p.level AS position_level,
    c.contract_number,
    c.contract_type,
    c.end_date AS contract_end_date,
    c.salary   AS contract_salary
FROM employees e
LEFT JOIN departments d ON e.department_id = d.id
LEFT JOIN positions   p ON e.position_id   = p.id
LEFT JOIN (
    SELECT employee_id, contract_number, contract_type, end_date, salary,
           ROW_NUMBER() OVER (PARTITION BY employee_id ORDER BY start_date DESC) AS rn
    FROM Contracts
    WHERE status = 'ACTIVE'
) c ON e.id = c.employee_id AND c.rn = 1;
GO
/****** Object:  Table [dbo].[attendance]    Script Date: 2/25/2026 9:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[attendance_date] [date] NOT NULL,
	[check_in_time] [time](7) NULL,
	[check_out_time] [time](7) NULL,
	[status] [nvarchar](20) NOT NULL,
	[working_hours] [float] NULL,
	[overtime_hours] [float] NULL,
	[late_minutes] [int] NULL,
	[early_leave_minutes] [int] NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AttendanceSummary]    Script Date: 2/25/2026 9:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_AttendanceSummary] AS
SELECT
    a.employee_id,
    e.employee_code,
    e.full_name,
    d.name                                                       AS department_name,
    MONTH(a.attendance_date)                                     AS att_month,
    YEAR(a.attendance_date)                                      AS att_year,
    COUNT(*)                                                     AS total_records,
    COUNT(CASE WHEN a.status = 'PRESENT'       THEN 1 END)      AS present_days,
    COUNT(CASE WHEN a.status = 'LATE'          THEN 1 END)      AS late_days,
    COUNT(CASE WHEN a.status = 'EARLY_LEAVE'   THEN 1 END)      AS early_leave_days,
    COUNT(CASE WHEN a.status = 'ABSENT'        THEN 1 END)      AS absent_days,
    COUNT(CASE WHEN a.status = 'LEAVE'         THEN 1 END)      AS leave_days,
    COUNT(CASE WHEN a.status = 'BUSINESS_TRIP' THEN 1 END)      AS business_trip_days,
    ISNULL(SUM(a.working_hours),  0)                            AS total_working_hours,
    ISNULL(SUM(a.overtime_hours), 0)                            AS total_overtime_hours,
    ISNULL(SUM(a.late_minutes),   0)                            AS total_late_minutes
FROM Attendance a
INNER JOIN employees   e ON a.employee_id   = e.id
LEFT  JOIN departments d ON e.department_id = d.id
GROUP BY
    a.employee_id, e.employee_code, e.full_name, d.name,
    MONTH(a.attendance_date), YEAR(a.attendance_date);
GO
/****** Object:  Table [dbo].[MonthlySalary]    Script Date: 2/25/2026 9:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlySalary](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[salary_month] [int] NOT NULL,
	[salary_year] [int] NOT NULL,
	[base_salary] [decimal](18, 2) NULL,
	[salary_coefficient] [decimal](5, 2) NULL,
	[allowance] [decimal](18, 2) NULL,
	[overtime_pay] [decimal](18, 2) NULL,
	[bonus] [decimal](18, 2) NULL,
	[other_income] [decimal](18, 2) NULL,
	[late_deduction] [decimal](18, 2) NULL,
	[absent_deduction] [decimal](18, 2) NULL,
	[insurance_deduction] [decimal](18, 2) NULL,
	[tax_deduction] [decimal](18, 2) NULL,
	[other_deduction] [decimal](18, 2) NULL,
	[gross_salary] [decimal](18, 2) NULL,
	[total_deduction] [decimal](18, 2) NULL,
	[net_salary] [decimal](18, 2) NULL,
	[working_days] [int] NULL,
	[standard_days] [int] NULL,
	[overtime_hours] [float] NULL,
	[status] [nvarchar](20) NULL,
	[approved_by] [int] NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SalaryDetails]    Script Date: 2/25/2026 9:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_SalaryDetails] AS
SELECT
    ms.id,
    ms.employee_id,
    e.employee_code,
    e.full_name,
    d.name          AS department_name,
    p.name          AS position_name,
    ms.salary_month,
    ms.salary_year,
    ms.base_salary,
    ms.salary_coefficient,
    ms.allowance,
    ms.overtime_pay,
    ms.bonus,
    ms.other_income,
    ms.late_deduction,
    ms.absent_deduction,
    ms.insurance_deduction,
    ms.tax_deduction,
    ms.other_deduction,
    ms.gross_salary,
    ms.total_deduction,
    ms.net_salary,
    ms.working_days,
    ms.standard_days,
    ms.overtime_hours,
    ms.status,
    ms.notes,
    ms.created_at,
    ms.updated_date,
    approver.full_name AS approved_by_name
FROM MonthlySalary ms
INNER JOIN employees   e        ON ms.employee_id  = e.id
LEFT  JOIN departments d        ON e.department_id = d.id
LEFT  JOIN positions   p        ON e.position_id   = p.id
LEFT  JOIN employees   approver ON ms.approved_by  = approver.id;
GO
/****** Object:  Table [dbo].[LeaveRequests]    Script Date: 2/25/2026 9:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[leave_type] [nvarchar](20) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[total_days] [float] NULL,
	[reason] [nvarchar](max) NULL,
	[status] [nvarchar](20) NULL,
	[approver_id] [int] NULL,
	[request_date] [datetime] NULL,
	[approve_date] [datetime] NULL,
	[approver_note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LeaveRequestDetails]    Script Date: 2/25/2026 9:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_LeaveRequestDetails] AS
SELECT
    lr.id,
    lr.employee_id,
    e.employee_code,
    e.full_name,
    d.name          AS department_name,
    lr.leave_type,
    lr.start_date,
    lr.end_date,
    lr.total_days,
    lr.reason,
    lr.status,
    lr.request_date,
    lr.approve_date,
    lr.approver_note,
    approver.full_name AS approver_name
FROM LeaveRequests lr
INNER JOIN employees   e        ON lr.employee_id = e.id
LEFT  JOIN departments d        ON e.department_id = d.id
LEFT  JOIN employees   approver ON lr.approver_id  = approver.id;
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 2/25/2026 9:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NULL,
	[is_active] [bit] NULL,
	[last_login] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaseSalary]    Script Date: 2/25/2026 9:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaseSalary](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[base_salary] [decimal](18, 2) NULL,
	[salary_coefficient] [decimal](5, 2) NULL,
	[allowance] [decimal](18, 2) NULL,
	[effective_date] [date] NOT NULL,
	[status] [nvarchar](20) NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[accounts] ON 

INSERT [dbo].[accounts] ([id], [employee_id], [username], [password], [role], [is_active], [last_login], [created_at]) VALUES (1, 1, N'admin', N'240BE518FABD2724DDB6F04EEB1DA5967448D7E831C08C8FA822809F74C720A9', N'ADMIN', 1, NULL, CAST(N'2026-02-25T01:27:50.750' AS DateTime))
INSERT [dbo].[accounts] ([id], [employee_id], [username], [password], [role], [is_active], [last_login], [created_at]) VALUES (2, 2, N'hr_binh', N'070A3B5E8D4BD5C46ACCCB91C9C54614C0CD649E78C4C4719E3A64270BAE5DDF', N'HR', 1, NULL, CAST(N'2026-02-25T01:27:50.750' AS DateTime))
INSERT [dbo].[accounts] ([id], [employee_id], [username], [password], [role], [is_active], [last_login], [created_at]) VALUES (3, 3, N'it_cuong', N'37A3406D73C0F39E73A19006E2C687863760A65F10D97147D490852280A4B621', N'MANAGER', 1, NULL, CAST(N'2026-02-25T01:27:50.750' AS DateTime))
SET IDENTITY_INSERT [dbo].[accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[BaseSalary] ON 

INSERT [dbo].[BaseSalary] ([id], [employee_id], [base_salary], [salary_coefficient], [allowance], [effective_date], [status], [notes], [created_at]) VALUES (1, 1, CAST(2340000.00 AS Decimal(18, 2)), CAST(2.66 AS Decimal(5, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-02-25' AS Date), N'ACTIVE', NULL, CAST(N'2026-02-25T01:34:44.700' AS DateTime))
INSERT [dbo].[BaseSalary] ([id], [employee_id], [base_salary], [salary_coefficient], [allowance], [effective_date], [status], [notes], [created_at]) VALUES (2, 2, CAST(3000000.00 AS Decimal(18, 2)), CAST(2.50 AS Decimal(5, 2)), CAST(3000000.00 AS Decimal(18, 2)), CAST(N'2018-05-01' AS Date), N'ACTIVE', NULL, CAST(N'2026-02-25T01:47:16.410' AS DateTime))
SET IDENTITY_INSERT [dbo].[BaseSalary] OFF
GO
SET IDENTITY_INSERT [dbo].[contracts] ON 

INSERT [dbo].[contracts] ([id], [employee_id], [contract_type], [contract_number], [start_date], [end_date], [salary], [allowance], [salary_coefficient], [position], [work_location], [status], [termination_date], [termination_reason], [notes], [file_url]) VALUES (1, 1, N'PROBATION', N'dfsđ', CAST(N'2026-02-25' AS Date), CAST(N'2027-03-07' AS Date), CAST(2340000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(2.66 AS Decimal(5, 2)), N'', N'', N'ACTIVE', NULL, NULL, N'', NULL)
INSERT [dbo].[contracts] ([id], [employee_id], [contract_type], [contract_number], [start_date], [end_date], [salary], [allowance], [salary_coefficient], [position], [work_location], [status], [termination_date], [termination_reason], [notes], [file_url]) VALUES (2, 1, N'INDEFINITE', N'HD-2015-001', CAST(N'2015-01-01' AS Date), NULL, CAST(50000000.00 AS Decimal(18, 2)), CAST(5000000.00 AS Decimal(18, 2)), CAST(3.50 AS Decimal(5, 2)), N'Giám Đốc', N'Trụ sở chính Hà Nội', N'ACTIVE', NULL, NULL, NULL, NULL)
INSERT [dbo].[contracts] ([id], [employee_id], [contract_type], [contract_number], [start_date], [end_date], [salary], [allowance], [salary_coefficient], [position], [work_location], [status], [termination_date], [termination_reason], [notes], [file_url]) VALUES (3, 2, N'INDEFINITE', N'HD-2018-002', CAST(N'2018-05-01' AS Date), CAST(N'2026-02-25' AS Date), CAST(3000000.00 AS Decimal(18, 2)), CAST(3000000.00 AS Decimal(18, 2)), CAST(2.50 AS Decimal(5, 2)), N'Trưởng Phòng Nhân Sự', N'', N'ACTIVE', NULL, NULL, N'', NULL)
SET IDENTITY_INSERT [dbo].[contracts] OFF
GO
SET IDENTITY_INSERT [dbo].[departments] ON 

INSERT [dbo].[departments] ([id], [code], [name], [description], [manager_id], [status]) VALUES (1, N'BGD', N'Ban Giám Đốc', N'Lãnh đạo công ty', 1, N'Hoạt động')
INSERT [dbo].[departments] ([id], [code], [name], [description], [manager_id], [status]) VALUES (2, N'NS', N'Phòng Nhân Sự', N'Quản lý nhân sự', 2, N'Hoạt động')
INSERT [dbo].[departments] ([id], [code], [name], [description], [manager_id], [status]) VALUES (3, N'KT', N'Phòng Kế Toán', N'Quản lý tài chính', NULL, N'Hoạt động')
SET IDENTITY_INSERT [dbo].[departments] OFF
GO
SET IDENTITY_INSERT [dbo].[employees] ON 

INSERT [dbo].[employees] ([id], [employee_code], [full_name], [date_of_birth], [gender], [id_card], [department_id], [position_id], [join_date], [resign_date], [status], [phone], [email], [address]) VALUES (1, N'NV001', N'Nguyễn Văn An', CAST(N'1985-03-15' AS Date), N'MALE', N'001085003456', 1, 1, CAST(N'2015-01-01' AS Date), NULL, N'WORKING', N'0901234567', N'an.nguyen@company.com', N'Hà Nội')
INSERT [dbo].[employees] ([id], [employee_code], [full_name], [date_of_birth], [gender], [id_card], [department_id], [position_id], [join_date], [resign_date], [status], [phone], [email], [address]) VALUES (2, N'NV002', N'Trần Thị Bình', CAST(N'1990-07-20' AS Date), N'FEMALE', N'001090007891', 2, 2, CAST(N'2018-05-01' AS Date), NULL, N'WORKING', N'0912345678', N'binh.tran@company.com', N'Hà Nội')
INSERT [dbo].[employees] ([id], [employee_code], [full_name], [date_of_birth], [gender], [id_card], [department_id], [position_id], [join_date], [resign_date], [status], [phone], [email], [address]) VALUES (3, N'NV003', N'Lê Văn Cường', CAST(N'1993-11-10' AS Date), N'MALE', N'001093011234', 4, 3, CAST(N'2020-03-15' AS Date), NULL, N'WORKING', N'0923456789', N'cuong.le@company.com', N'Hà Nội')
SET IDENTITY_INSERT [dbo].[employees] OFF
GO
SET IDENTITY_INSERT [dbo].[MonthlySalary] ON 

SET IDENTITY_INSERT [dbo].[MonthlySalary] OFF
GO
SET IDENTITY_INSERT [dbo].[positions] ON 

INSERT [dbo].[positions] ([id], [code], [name], [level], [description]) VALUES (1, N'GD', N'Giám Đốc', N'DIRECTOR', N'Lãnh đạo cao nhất')
INSERT [dbo].[positions] ([id], [code], [name], [level], [description]) VALUES (2, N'TP', N'Trưởng Phòng', N'MANAGER', N'Quản lý phòng ban')
INSERT [dbo].[positions] ([id], [code], [name], [level], [description]) VALUES (3, N'TL', N'Team Leader', N'TEAM_LEADER', N'Trưởng nhóm')
SET IDENTITY_INSERT [dbo].[positions] OFF
GO
/****** Object:  Index [UQ__accounts__C52E0BA919583CEE]    Script Date: 2/25/2026 9:01:03 AM ******/
ALTER TABLE [dbo].[accounts] ADD UNIQUE NONCLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__accounts__F3DBC572916CF642]    Script Date: 2/25/2026 9:01:03 AM ******/
ALTER TABLE [dbo].[accounts] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_emp_date]    Script Date: 2/25/2026 9:01:03 AM ******/
ALTER TABLE [dbo].[attendance] ADD  CONSTRAINT [uq_emp_date] UNIQUE NONCLUSTERED 
(
	[employee_id] ASC,
	[attendance_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_bs_employee_active]    Script Date: 2/25/2026 9:01:03 AM ******/
ALTER TABLE [dbo].[BaseSalary] ADD  CONSTRAINT [uq_bs_employee_active] UNIQUE NONCLUSTERED 
(
	[employee_id] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__contract__1CA37CCECF055150]    Script Date: 2/25/2026 9:01:03 AM ******/
ALTER TABLE [dbo].[contracts] ADD UNIQUE NONCLUSTERED 
(
	[contract_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__departme__357D4CF9D31D3418]    Script Date: 2/25/2026 9:01:03 AM ******/
ALTER TABLE [dbo].[departments] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__employee__AB6E61640452DE50]    Script Date: 2/25/2026 9:01:03 AM ******/
ALTER TABLE [dbo].[employees] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__employee__B0AA7345EA9F0A64]    Script Date: 2/25/2026 9:01:03 AM ******/
ALTER TABLE [dbo].[employees] ADD UNIQUE NONCLUSTERED 
(
	[employee_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__employee__C71FE36618A57150]    Script Date: 2/25/2026 9:01:03 AM ******/
ALTER TABLE [dbo].[employees] ADD UNIQUE NONCLUSTERED 
(
	[id_card] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_emp_period]    Script Date: 2/25/2026 9:01:03 AM ******/
ALTER TABLE [dbo].[MonthlySalary] ADD  CONSTRAINT [uq_emp_period] UNIQUE NONCLUSTERED 
(
	[employee_id] ASC,
	[salary_month] ASC,
	[salary_year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__position__357D4CF9060CDDC0]    Script Date: 2/25/2026 9:01:03 AM ******/
ALTER TABLE [dbo].[positions] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT ('EMPLOYEE') FOR [role]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[attendance] ADD  DEFAULT ((0)) FOR [working_hours]
GO
ALTER TABLE [dbo].[attendance] ADD  DEFAULT ((0)) FOR [overtime_hours]
GO
ALTER TABLE [dbo].[attendance] ADD  DEFAULT ((0)) FOR [late_minutes]
GO
ALTER TABLE [dbo].[attendance] ADD  DEFAULT ((0)) FOR [early_leave_minutes]
GO
ALTER TABLE [dbo].[BaseSalary] ADD  DEFAULT ((0)) FOR [base_salary]
GO
ALTER TABLE [dbo].[BaseSalary] ADD  DEFAULT ((1.0)) FOR [salary_coefficient]
GO
ALTER TABLE [dbo].[BaseSalary] ADD  DEFAULT ((0)) FOR [allowance]
GO
ALTER TABLE [dbo].[BaseSalary] ADD  DEFAULT (getdate()) FOR [effective_date]
GO
ALTER TABLE [dbo].[BaseSalary] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[BaseSalary] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[contracts] ADD  DEFAULT ((0)) FOR [salary]
GO
ALTER TABLE [dbo].[contracts] ADD  DEFAULT ((0)) FOR [allowance]
GO
ALTER TABLE [dbo].[contracts] ADD  DEFAULT ((1.0)) FOR [salary_coefficient]
GO
ALTER TABLE [dbo].[contracts] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ('WORKING') FOR [status]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  DEFAULT ((0)) FOR [total_days]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  DEFAULT (getdate()) FOR [request_date]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((0)) FOR [base_salary]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((1.0)) FOR [salary_coefficient]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((0)) FOR [allowance]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((0)) FOR [overtime_pay]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((0)) FOR [bonus]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((0)) FOR [other_income]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((0)) FOR [late_deduction]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((0)) FOR [absent_deduction]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((0)) FOR [insurance_deduction]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((0)) FOR [tax_deduction]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((0)) FOR [other_deduction]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((0)) FOR [gross_salary]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((0)) FOR [total_deduction]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((0)) FOR [net_salary]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((0)) FOR [working_days]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((26)) FOR [standard_days]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ((0)) FOR [overtime_hours]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[MonthlySalary] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT ('STAFF') FOR [level]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD  CONSTRAINT [fk_acc_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[accounts] CHECK CONSTRAINT [fk_acc_employee]
GO
ALTER TABLE [dbo].[attendance]  WITH CHECK ADD  CONSTRAINT [fk_att_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[attendance] CHECK CONSTRAINT [fk_att_employee]
GO
ALTER TABLE [dbo].[BaseSalary]  WITH CHECK ADD  CONSTRAINT [fk_bs_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[BaseSalary] CHECK CONSTRAINT [fk_bs_employee]
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD  CONSTRAINT [fk_con_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [fk_con_employee]
GO
ALTER TABLE [dbo].[departments]  WITH CHECK ADD  CONSTRAINT [fk_dept_manager] FOREIGN KEY([manager_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[departments] CHECK CONSTRAINT [fk_dept_manager]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [fk_emp_department] FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [fk_emp_department]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD  CONSTRAINT [fk_emp_position] FOREIGN KEY([position_id])
REFERENCES [dbo].[positions] ([id])
GO
ALTER TABLE [dbo].[employees] CHECK CONSTRAINT [fk_emp_position]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [fk_lr_approver] FOREIGN KEY([approver_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [fk_lr_approver]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [fk_lr_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [fk_lr_employee]
GO
ALTER TABLE [dbo].[MonthlySalary]  WITH CHECK ADD  CONSTRAINT [fk_sal_approver] FOREIGN KEY([approved_by])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[MonthlySalary] CHECK CONSTRAINT [fk_sal_approver]
GO
ALTER TABLE [dbo].[MonthlySalary]  WITH CHECK ADD  CONSTRAINT [fk_sal_employee] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[MonthlySalary] CHECK CONSTRAINT [fk_sal_employee]
GO
ALTER TABLE [dbo].[MonthlySalary]  WITH CHECK ADD CHECK  (([salary_month]>=(1) AND [salary_month]<=(12)))
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateAllSalaries]    Script Date: 2/25/2026 9:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CalculateAllSalaries]
    @month INT,
    @year  INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @employee_id INT;
    DECLARE @error_count INT = 0;
    DECLARE @success_count INT = 0;

    DECLARE emp_cursor CURSOR FOR
        SELECT id FROM employees WHERE status = 'WORKING';

    OPEN emp_cursor;
    FETCH NEXT FROM emp_cursor INTO @employee_id;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            EXEC sp_CalculateMonthlySalary 
                @employee_id = @employee_id,
                @month       = @month,
                @year        = @year;
            SET @success_count = @success_count + 1;
        END TRY
        BEGIN CATCH
            PRINT 'Lỗi khi tính lương nhân viên ID: ' + CAST(@employee_id AS NVARCHAR)
                  + ' - ' + ERROR_MESSAGE();
            SET @error_count = @error_count + 1;
        END CATCH

        FETCH NEXT FROM emp_cursor INTO @employee_id;
    END

    CLOSE emp_cursor;
    DEALLOCATE emp_cursor;

    PRINT '========================================';
    PRINT 'Hoàn thành tính lương tháng ' + CAST(@month AS NVARCHAR) + '/' + CAST(@year AS NVARCHAR);
    PRINT 'Thành công: ' + CAST(@success_count AS NVARCHAR) + ' nhân viên';
    PRINT 'Thất bại  : ' + CAST(@error_count   AS NVARCHAR) + ' nhân viên';
    PRINT '========================================';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateMonthlySalary]    Script Date: 2/25/2026 9:01:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CalculateMonthlySalary]
    @employee_id INT,
    @month INT,
    @year INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @base_salary DECIMAL(18,2);
    DECLARE @salary_coefficient DECIMAL(5,2);
    DECLARE @allowance DECIMAL(18,2);
    DECLARE @overtime_pay DECIMAL(18,2);
    DECLARE @bonus DECIMAL(18,2);
    DECLARE @other_income DECIMAL(18,2);
    DECLARE @late_deduction DECIMAL(18,2);
    DECLARE @absent_deduction DECIMAL(18,2);
    DECLARE @insurance_deduction DECIMAL(18,2);
    DECLARE @tax_deduction DECIMAL(18,2);
    DECLARE @other_deduction DECIMAL(18,2);
    DECLARE @gross_salary DECIMAL(18,2);
    DECLARE @total_deduction DECIMAL(18,2);
    DECLARE @net_salary DECIMAL(18,2);
    DECLARE @working_days INT;
    DECLARE @standard_days INT;
    DECLARE @overtime_hours DECIMAL(5,2);
    
    -- Lấy thông tin lương cơ bản, hệ số và phụ cấp từ BaseSalary
    SELECT 
        @base_salary = ISNULL(base_salary, 0),
        @salary_coefficient = ISNULL(salary_coefficient, 1.0),
        @allowance = ISNULL(allowance, 0)
    FROM BaseSalary
    WHERE employee_id = @employee_id AND status = 'ACTIVE';
    
    -- Nếu không tìm thấy, lấy từ hợp đồng hiện tại
    IF @base_salary IS NULL OR @base_salary = 0
    BEGIN
        SELECT TOP 1
            @base_salary = ISNULL(salary, 0),
            @salary_coefficient = ISNULL(salary_coefficient, 1.0),
            @allowance = ISNULL(allowance, 0)
        FROM Contracts
        WHERE employee_id = @employee_id 
            AND status = 'ACTIVE'
        ORDER BY start_date DESC;
    END
    
    -- Set giá trị mặc định nếu vẫn NULL
    SET @base_salary = ISNULL(@base_salary, 0);
    SET @salary_coefficient = ISNULL(@salary_coefficient, 1.0);
    SET @allowance = ISNULL(@allowance, 0);
    
    -- Tính số ngày làm việc và ngày chuẩn
    SET @standard_days = 26;
    
    -- Thống kê chấm công
    SELECT 
        @working_days = COUNT(CASE WHEN status IN ('PRESENT', 'LATE') THEN 1 END),
        @overtime_hours = ISNULL(SUM(overtime_hours), 0)
    FROM Attendance
    WHERE employee_id = @employee_id 
        AND MONTH(attendance_date) = @month 
        AND YEAR(attendance_date) = @year;
    
    SET @working_days = ISNULL(@working_days, 0);
    
    -- Tính lương tăng ca
    -- Công thức: (Lương CB * Hệ số) / (Ngày chuẩn * 8 giờ) * 1.5 * Số giờ tăng ca
    SET @overtime_pay = (@base_salary * @salary_coefficient) / (@standard_days * 8.0) * 1.5 * @overtime_hours;
    
    -- Lấy thưởng
    SET @bonus = 0;
    SET @other_income = 0;
    
    -- Tính khấu trừ đi muộn (50k mỗi lần)
    DECLARE @late_count INT;
    SELECT @late_count = COUNT(*)
    FROM Attendance
    WHERE employee_id = @employee_id
        AND MONTH(attendance_date) = @month
        AND YEAR(attendance_date) = @year
        AND status = 'LATE';
    
    SET @late_deduction = ISNULL(@late_count, 0) * 50000;
    
    -- Tính khấu trừ vắng mặt
    DECLARE @absent_days INT;
    SELECT @absent_days = COUNT(*)
    FROM Attendance
    WHERE employee_id = @employee_id
        AND MONTH(attendance_date) = @month
        AND YEAR(attendance_date) = @year
        AND status = 'ABSENT';
    
    -- Trừ lương theo ngày vắng: (Lương CB * Hệ số) / Ngày chuẩn * Số ngày vắng
    SET @absent_deduction = (@base_salary * @salary_coefficient) / @standard_days * ISNULL(@absent_days, 0);
    
    -- Tính bảo hiểm (10.5% của Lương CB * Hệ số)
    SET @insurance_deduction = (@base_salary * @salary_coefficient) * 0.105;
    
    -- Tính thuế thu nhập cá nhân
    DECLARE @taxable_income DECIMAL(18,2);
    SET @taxable_income = (@base_salary * @salary_coefficient) + @allowance + @overtime_pay + @bonus + @other_income - @insurance_deduction - 11000000;
    
    IF @taxable_income > 0
        SET @tax_deduction = @taxable_income * 0.10;
    ELSE
        SET @tax_deduction = 0;
    
    SET @other_deduction = 0;
    
    -- Tính tổng thu nhập (Gross Salary)
    -- QUAN TRỌNG: Lương cơ bản NHÂN với hệ số lương
    SET @gross_salary = (@base_salary * @salary_coefficient) + @allowance + @overtime_pay + @bonus + @other_income;
    
    -- Tính tổng khấu trừ
    SET @total_deduction = @late_deduction + @absent_deduction + @insurance_deduction + @tax_deduction + @other_deduction;
    
    -- Tính lương thực lãnh
    SET @net_salary = @gross_salary - @total_deduction;
    
    -- Kiểm tra và Insert/Update
    IF EXISTS (SELECT 1 FROM MonthlySalary 
               WHERE employee_id = @employee_id 
                 AND salary_month = @month 
                 AND salary_year = @year)
    BEGIN
        UPDATE MonthlySalary SET
            base_salary = @base_salary,
            salary_coefficient = @salary_coefficient,
            allowance = @allowance,
            overtime_pay = @overtime_pay,
            bonus = @bonus,
            other_income = @other_income,
            late_deduction = @late_deduction,
            absent_deduction = @absent_deduction,
            insurance_deduction = @insurance_deduction,
            tax_deduction = @tax_deduction,
            other_deduction = @other_deduction,
            gross_salary = @gross_salary,
            total_deduction = @total_deduction,
            net_salary = @net_salary,
            working_days = @working_days,
            standard_days = @standard_days,
            overtime_hours = @overtime_hours,
            status = 'PENDING',
            updated_date = GETDATE()
        WHERE employee_id = @employee_id
          AND salary_month = @month
          AND salary_year = @year;
    END
    ELSE
    BEGIN
        INSERT INTO MonthlySalary (
            employee_id, salary_month, salary_year,
            base_salary, salary_coefficient, allowance, overtime_pay, bonus, other_income,
            late_deduction, absent_deduction, insurance_deduction, tax_deduction, other_deduction,
            gross_salary, total_deduction, net_salary,
            working_days, standard_days, overtime_hours, status
        )
        VALUES (
            @employee_id, @month, @year,
            @base_salary, @salary_coefficient, @allowance, @overtime_pay, @bonus, @other_income,
            @late_deduction, @absent_deduction, @insurance_deduction, @tax_deduction, @other_deduction,
            @gross_salary, @total_deduction, @net_salary,
            @working_days, @standard_days, @overtime_hours, 'PENDING'
        );
    END
    
    RETURN 0;
END
GO
USE [master]
GO
